<hr class="linear-gradient-hr">
<div *ngIf="cart$ | async as cart">
  <div *ngIf="cart.items.length; else displayEmptyCartMessage">
    <div *ngIf="!isOrderPage()">

      <div *ngIf="cart.totalPrice > 499 else displayDeliveryCharge">
        <small class="text-dark mx-2" style="text-shadow: 1px 1px 4px rgb(169, 236, 191);">This delivery is free of
          delivery
          charge</small>
        <i class="bi bi-check2-square text-bg-success rounded fw-bolder"></i>
      </div>

      <ng-template #displayDeliveryCharge>
        <small class="text-danger mx-2 ">This delivery needs delivery charge - Free
          deivery from 500 Kr</small>
        <i class="bi bi-info-circle text-danger"></i>
      </ng-template>

      <div class="d-flex justify-content-around my-2">

        <a class="btn btn-sm text-white" style="background-color: rgb(106, 121, 6);" (click)="moveToOrderPlacementPage(cart)">
          <span>Proceed to checkout
          </span>
        </a>

        <a class="btn btn-sm text-white" style="background-color: rgb(246, 89, 5);" (click)="clearCart()">Empty Carts
        </a>
      </div>

      <hr class="linear-gradient-hr my-2">
    </div>

    <div class="container-fluid">
      <table class="table">
        <thead *ngIf="isOrderPage()">
          <th scope="col">Item</th>
          <th scope="col">Item Details</th>
          <th scope="col" class="float-end">Cost</th>
        </thead>
        <tbody>
          <tr class="align-items-center" *ngFor="let orderedItem of cart.items">
            <td scope="row"><img src="{{orderedItem.imagePath}}" class="img-fluid shadow-lg col-1"
                style="height: 50px; width: 50px; border-radius: 25px;">
            </td>

            <td class="text-dark col-5">{{orderedItem.brandName}}, {{orderedItem.type}}, {{orderedItem.subType}},
              ({{orderedItem.weight}} {{orderedItem.unitOfWeight}})<span class="text-danger h6 px-1"> * </span>
              {{orderedItem.quantity}} packets
            </td>

            <td *ngIf="!isOrderPage()">
              <div class="d-flex justify-content-between">
                <i class="bi bi-dash-square-fill h4 btn btn-danger responsive-font"
                  (click)="removeFromCart(orderedItem)"></i>
                <span class="mx-2 font-bold-700-open-sans"> {{orderedItem.quantity}} </span>
                <i class="bi bi-plus-square-fill h4 btn btn-success responsive-font"
                  (click)="addToCart(orderedItem)"></i>
              </div>
            </td>

            <td class="text-dark col-3">
              <span class="float-end">{{orderedItem.totalPrice}} Kr</span>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th *ngIf="!isOrderPage()"></th>
            <th class="text-right">
              <span class="float-end">{{ cart.totalPrice}} Kr</span>
            </th>
          </tr>
          <tr *ngIf="cart.totalPrice < 500">
            <th><small class="text-danger mx-2">Delivery</small></th>
            <th></th>
            <th *ngIf="!isOrderPage()"></th>
            <th class="text-right">
              <small class="float-end text-danger mx-2">50 Kr</small>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <ng-template #displayEmptyCartMessage>
    <div class="d-flex my-5 justify-content-center">
      <img src="assets/img/misc/sc_empty.jpg" class="img-fluid h-50 w-50">
    </div>
  </ng-template>
</div>