<div class=" d-block d-lg-none justify-content-center bg-dark m-2">
    <!--span class="text-white text-center p-5">Filter and sorting - Work In Progress</span-->
</div>

<div class="my-8 mt-1 d-none d-lg-block">
    <app-grocery-types-top-menu-bar></app-grocery-types-top-menu-bar>
</div>

<app-refinement></app-refinement>

<div class="row m-lg-3">

    <div *ngIf="isAwaitingPageLoad" class="d-flex justify-content-center">
        <div class="row">
            <div class="spinner-border" role="status">
                <strong>Loading...</strong>
            </div>
        </div>
    </div>

    <div class="col-lg-2 my-8 mt-5 d-none d-lg-block">
        <div class="card border-0" id="category">
            <div class="card-subtitle mb-2 font-bold-700-open-sans h6">
                <span *ngIf="parentGroceryName; else displayOthers">
                    <span
                        [ngClass]="displayAll ? 'bg-secondary p-1 text-white border rounded grocery-type-side-bar-text-font' : 'text-dark'">{{parentGroceryName}}
                    </span>
                    <a (click)="navigateToTheGroceryItemClickedByUser(parentGroceryName, parentGroceryName, false, true)"
                        class="btn btn-sm" role="button">
                        <span class="grocery-type-side-bar-text-font fw-bold p-1 rounded font-smaller text-white" style="background-color: brown">
                            Display all
                        </span>
                    </a>
                </span>
                <ng-template #displayOthers>
                    Others
                </ng-template>
            </div>
            <div *ngFor="let menu of productCategories" class="ps-3">
                <div *ngIf="subMenu || displayAll; else elseBlock"
                    (click)="navigateToTheGroceryItemClickedByUser(menu, parentGroceryName, true, false)"
                    [ngClass]="groceryName === menu ? 'badge bg-secondary disabled' : 'text-dark'">
                    <span class="grocery-type-side-bar-text-font">{{menu}}</span>
                </div>
                <ng-template #elseBlock>
                    <div (click)="navigateToTheGroceryItemClickedByUser(menu, parentGroceryName, false, false)"
                        [ngClass]="groceryName === menu ? 'badge bg-secondary disabled' : 'text-dark'">
                        <span class="grocery-type-side-bar-text-font">{{menu}}</span>
                    </div>
                </ng-template>
            </div>
        </div>

        <hr class="linear-gradient-hr my-2">

        <app-filter-by-brand [brandNamesWithCountMap]="brandNamesWithCountMap"></app-filter-by-brand>

        <hr class="linear-gradient-hr my-2">

        <app-filter-by-price></app-filter-by-price>

    </div>

    <div class="col-lg-10">
        <div class="container">
            <div *ngIf="cart$ | async as cart" class="row row-cols-lg-5 row-cols-2 row-cols-md-3 mt-lg-5">
                <div *ngFor="let grocery of groceryList | paginate: { itemsPerPage: 15, currentPage: pageNumber }">
                    <app-individual-grocery [individualGrocery]="grocery" [shopping-cart]="cart">
                    </app-individual-grocery>
                </div>
            </div>
            <div class="m-1">
                <pagination-controls [responsive]="true" (pageChange)="loadNewPage($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>