<hr class="m-lg-5 m-3">

<div class="container my-lg-5 my-2">
    <p class="h2 font-bold-700-open-sans text-center pb-2">Famous categories</p>


    <div class="row">
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card shadow-lg">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Rice</h5>
                    <p class="card-text mb-4 category-description-font">Our store has wide variety of rice from popular Asian brands. Our warehouse includes healthy whole grain rice, regular white rice, aromatic Thai Jasmine rice, or Basmati rice.</p>
                    <a href="#" class="btn btn-sm btn-dark mt-auto align-self-start">Shop now <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card shadow-lg">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Frozen Items</h5>
                    <p class="card-text mb-4 category-description-font">Shop Frozen foods from our website. Buy meals & snacks, desserts, fruits & vegetables.The modern and hectic lifestyle among individuals gave rise to the demand for frozen foods.
                        Frozen food is not only hassle-free and can also be preserved for a longer period. .</p>
                    <a href="#" class="btn btn-sm btn-dark mt-auto align-self-start">Shop now <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card shadow-lg">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Snacks</h5>
                    <p class="card-text mb-4 category-description-font">Healthy Snacks To Add To Your Shopping Cart. Select from various brands. Our warehouse includes a broad range of items like fruit snacks, frozen snacks</p>
                    <a href="#" class="btn btn-sm btn-dark mt-auto align-self-start">Shop now <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card shadow-lg">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Flour</h5>
                    <p class="card-text mb-4 category-description-font">Our store has different flour which includes wheat flour, bread flour, cake flour, and all-purpose flour.</p>
                    <a href="#" class="btn btn-sm btn-dark mt-auto align-self-start">Shop now <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>