.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0; // remove the gap so it doesn't close
}

.menu-bar-box {
   background-color: #f8d49d;
}

.menu-bar-box a:hover {
   cursor: pointer;
   background-color: inherit;
   transform: translateY(-2px);
   font-weight: bolder;
   //transition-duration: 1s;
}