<div class="container my-5 shadow-sm border-opacity-10 w-75 grocery-type-side-bar-text-font">
  <div class="collapse d-flex flex-lg-row justify-content-between ">

    <div class="nav-item dropdown" *ngFor="let item of menuItemsWithtSubItems">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="font-bold-700-open-sans">{{item.label}}</span>
      </a>

      <div class="dropdown-menu border-0">
        <div class="px-3 pt-2 d-grid justify-content-between rounded menu-bar-box">
          <div class="row p-0 m-o" style="width: 400px; min-height: 50px;"
            *ngFor="let subMenuItems of item.childItemsForDesktop | keyvalue">
            <div class="col-6 p-1" *ngFor="let subMenuItem of subMenuItems.value">
              <a class="text-dark dropdown-item" data-bs-dismiss="dropdown-menu"
                (click)="navigateToThePage(item.label, subMenuItem.label, true)">
                <span> {{subMenuItem.label}}</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="font-bold-700-open-sans"> All Other Products </span>
      </a>
      <div class="dropdown-menu border-0">
        <div class="menu-bar-box rounded p-3" style="width: 300px;">
          <div *ngFor="let item of menuItemsWithOutSubItems">
            <a class="text-dark dropdown-item" (click)="navigateToThePage(item.label, undefined, false)">
              <span> {{item.label}} </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>