<hr class="m-lg-5 m-3">
<div class="container-fluid text-center my-lg-5 m-1 py-lg-2">
    <p class="text-start h2 font-bold-700-open-sans text-center">Our store features products from</p>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" data-bs-interval="1000">
                    <div class="col-5 col-md-2  mx-1">
                        <div class="card ">
                            <div class="card-img ">
                                <img src="assets/img/popular_brands/Bru.jpeg" class="img-fluid img-center">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="col-5 col-md-2  mx-1">
                        <div class="card ">
                            <div class="card-img ">
                                <img src="assets/img/popular_brands/Maggi.png" class="img-fluid img-center">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-5 col-md-2  mx-1">
                        <div class="card ">
                            <div class="card-img ">
                                <img src="assets/img/popular_brands/IG.jpeg" class="img-fluid img-center">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-5 col-md-2  mx-1">
                        <div class="card ">
                            <div class="card-img ">
                                <img src="assets/img/popular_brands/Heera.png" class="img-fluid img-center">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-5 col-md-2  mx-1">
                        <div class="card ">
                            <div class="card-img ">
                                <img src="assets/img/popular_brands/Annam.jpeg" class="img-fluid img-center">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-5 col-md-2  mx-1">
                        <div class="card">
                            <div class="card-img ">
                                <img src="assets/img/popular_brands/DH.png" class="img-fluid img-center">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-5 col-md-2 mx-1">
                        <div class="card">
                            <div class="card-img ">
                                <img src="assets/img/popular_brands/TRS.png" class="img-fluid img-center p-2">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>