<div class="card card-product col-sm-12 mb-2 w-100 grocery-type-side-bar-text-font ">
    <div class="card-body">
        <div class="text-center position-relative ">
            <div class=" position-absolute top-0 start-0">
                <span *ngIf="individualGrocery.offerPrice" class="badge bg-danger">Sale</span>
            </div>
            <a href="#!"> <img src="{{individualGrocery.imagePath}}" alt="Missing Image"
                    class="mb-3 img-fluid img-size"></a>
            <div class="card-product-action">
                <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                        class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Wishlist"><i
                        class="bi bi-heart"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Compare"><i
                        class="bi bi-arrow-left-right"></i></a>
            </div>
        </div>
        <div class="text-small mb-1"><a href="#!"
                class="text-decoration-none text-muted"><small>{{individualGrocery.brandName}}</small></a></div>
        <h2 class="fs-6"><a href="#!"
                class="text-inherit text-dark  text-decoration-none">{{individualGrocery.type}}</a></h2>
        <h2 class="fs-6"><a href="#!"
                class="text-inherit text-dark  text-decoration-none">{{individualGrocery.weight}} {{individualGrocery.unitOfWeight}}</a></h2>
        <div>
            <small class="text-warning"> <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i></small> 
                <!--span class="text-muted small">{{individualGrocery.actualPrice}}</span-->
        </div>

        <div *ngIf="individualGrocery.offerPrice; else displayActualPrice"><span class="text-dark">Kr
                {{individualGrocery.offerPrice}}</span> <span class="text-decoration-line-through text-muted">Kr
                {{individualGrocery.actualPrice}}</span></div>

        <ng-template #displayActualPrice>
            <span class="text-dark">Kr {{individualGrocery.actualPrice}}</span>
        </ng-template>


        <div class="bg-none mt-2">
            <div *ngIf="!isStockAvailable(); else displayOutOfStockButton">
                <button *ngIf="shoppingCart.getQuantity(individualGrocery) === 0; else updateQuantity"
                    (click)="addToCart()" class="btn btn-block btn-dark  btn-sm">Add to Cart</button>
                <ng-template #updateQuantity>
                    <app-product-quantity-changer-buttons [product]="individualGrocery" [shopping-cart]="shoppingCart">
                    </app-product-quantity-changer-buttons>
                </ng-template>
            </div>
            <ng-template #displayOutOfStockButton>
                <button disabled class="btn btn-block btn-danger btn-sm">Out of stock</button>
            </ng-template>
        </div>
    </div>

</div>