<div class="d-flex flex-row justify-content-between align-items-center p-3  grocery-type-side-bar-text-font">
    <span class="text-info">Mall of Groceries</span>

    <a *ngIf="firebaseAuthObject.user | async as user; else displayLoginPromptItem"
        class="nav-link d-flex flex-column align-items-center" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Click to Log out">
        <button type="button" class="btn btn-danger" (click)="logOut()"
            style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .60rem;">
            Log Out</button>
        <small class="text-white">{{ user.email | truncate:20 }}</small>
    </a>

    <ng-template #displayLoginPromptItem>
        <a class="nav-link d-flex flex-column align-items-center" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Please login">
            <a [routerLink]="['../login']" type="button" class="btn btn-success"
                style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .60rem;">
                Log In</a>
            <small class="text-danger">Hi, Please log in</small>
        </a>
    </ng-template>
</div>

<hr class="border border-5 border-light m-2">

<div class="d-flex flex-column justify-content-between">
    <nav class="navbar">
        <div class="container">
            <div id="navbarSupportedContent overflow-scroll">
                <ul class="navbar-nav me-auto mb-2">

                    <div class="nav-item dropdown text-white" *ngFor="let item of menuItemsWithtSubItems">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white-50 fs-6" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{item.label}}
                            </a>
                            <ul class="dropdown-menu">
                                <div *ngFor="let subItem of item.childItems" class="row p-1">
                                    <a class="dropdown-item" data-bs-dismiss="offcanvas"
                                        (click)="navigateToThePage(item.label, subItem.label, true)"><span>
                                            {{subItem.label}}</span>
                                    </a>
                                    <hr class="linear-gradient-hr">
                                </div>
                            </ul>
                        </li>
                        <hr class="linear-gradient-hr">

                    </div>


                    <div class="nav-item dropdown">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white-50" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                All Other Products
                            </a>
                            <ul class="dropdown-menu">
                                <div *ngFor="let item of menuItemsWithOutSubItems" class="row p-1">
                                    <a class="dropdown-item grocery-type-side-bar-text-font" data-bs-dismiss="offcanvas"
                                        (click)="navigateToThePage(item.label, undefined, false)"><span>
                                            {{item.label}}</span>
                                    </a>
                                    <hr class="linear-gradient-hr">
                                </div>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

    </nav>

</div>

<!--div style="position: absolute; margin-bottom:0">Anish.</div-->