<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <!--Keep it expanded until large screen. Then collide for medium and small screens-->
  <div class="container-fluid">
    <a class="navbar-brand text-white col-lg-1" [routerLink]="['x']">
      <img class="image-fluid" src="../assets/img/brand_icon.png" alt="..." height="50" width="50">
    </a>


    <div class="navbar-toggler dropdown grocery-type-side-bar-text-font">
      <i class="text-white" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi bi-person-fill-gear text-warning h1"></span>
      </i>
      <div class="dropdown-menu g-2" style="font-size: small">
        <li>
          <a [routerLink]="['g']" class="dropdown-item">
            <i class="bi bi-person-fill text-danger p-1"></i>Contact Details
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li>
          <a [routerLink]="['fa']" class="dropdown-item">
            <i class="bi bi-bag-heart-fill text-primary p-1"></i>Favorite Items
          </a>
        </li>

        <li>
          <hr class="dropdown-divider">
        </li>

        <li>
          <a [routerLink]="['oh']" class="dropdown-item">
            <i class="bi bi-basket2-fill text-success p-1"></i>Order History
          </a>
        </li>
      </div>
    </div>

    <div class="navbar-toggler dropdown">
      <button *ngIf="cart$ | async as cart; else displayLoadingCart" class="btn btn-success position-relative btn-sm"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightMobile" aria-controls="offcanvasRightMobile">
        <i class="bi bi-cart4 mx-2"></i> <span>
          {{cart.totalPrice}}Kr</span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{cart.totalItemsCount}}
        </span>
      </button>
      <ng-template #displayLoadingCart>
        <button class="btn btn-success position-relative btn-sm" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRightMobile" aria-controls="offcanvasRightMobile">
          <i class="bi bi-cart4 mx-2"></i>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            0
          </span>
        </button>
      </ng-template>
    </div>

    <button class="navbar-toggler border-light" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#mobileSideBarDisplay" aria-controls="offcanvasRight" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-toggler dropdown">
      <div class="d-grid">
        <div class="row">
          <div class="col-12">
            <input type="text" id="mobileSearchText" size="500" [(ngModel)]="searchString" (ngModelChange)="textInputChange($event)"
              class="form-control" placeholder="Search in our warehouse for products" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
          </div>
        </div>
      </div>
    </div>


    <div class="collapse navbar-collapse  justify-content-between">
      <div class="input-group  mr-auto mt-2 mt-lg-0" style="width: 700px">
        <input type="text" [(ngModel)]="searchString" (ngModelChange)="textInputChange($event)" class="form-control"
          placeholder="Search in our warehouse" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <i class="btn btn-outline-secondary bi bi-search"></i>
        </div>
      </div>

      <button *ngIf="cart$ | async as cart; else displayButton"
        class="effect effect-2 btn btn-success position-relative" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="bi bi-cart4 h5 px-lg-2"></i> <span class="grocery-type-side-bar-text-font">
          {{cart.totalPrice}} Kr
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{cart.items.length}}
        </span>
      </button>

      <ng-template #displayButton>
        <button class="btn btn-success position-relative" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRightMobile" aria-controls="offcanvasRightMobile">
          <i class="bi bi-cart4 mx-2"></i>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            0
          </span>
        </button>
      </ng-template>

      <a [routerLink]="['g']" class="bi bi-person-fill-gear text-info h2" data-bs-toggle="tooltip"
        data-bs-placement="top" title="User Detail"></a>

      <a [routerLink]="['fa']" class="bi bi-clipboard2-heart-fill text-muted h2" data-bs-toggle="tooltip"
        data-bs-placement="top" title="User Detail"></a>

      <a [routerLink]="['oh']" class="bi bi-bag-plus-fill text-warning h2" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Order History"></a>

      <a *ngIf="firebaseAuthObject.user | async as user; else displayLoginPromptItem"
        class="nav-link d-flex flex-column align-items-center" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Click to Log out">
        <button type="button" class="btn btn-danger" (click)="logOut()"
          style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .60rem;">
          Log Out</button>
        <span class="grocery-type-side-bar-text-font text-white" style="font-size: small;">{{user.email | truncate:25}}</span>
      </a>

      <ng-template #displayLoginPromptItem>
        <a class="nav-link d-flex flex-column align-items-center" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Please login">
          <a [routerLink]="['../login']" type="button" class="btn btn-success"
            style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .60rem;">
            Log In</a>
          <small class="text-danger">Hi, Please log in</small>
        </a>
      </ng-template>

    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start w-75 text-bg-dark" tabindex="-1" id="mobileSideBarDisplay"
  aria-labelledby="offcanvasExampleLabel" data-bs-scroll="true" style="overflow-y: scroll">
  <app-side-bar-for-small-devices></app-side-bar-for-small-devices>
</div>

<div class="offcanvas offcanvas-end w-50 d-none d-lg-block grocery-type-side-bar-text-font" tabindex="-1" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel" style="overflow-y: scroll">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-dark m-0 p-0" id="offcanvasRightLabel">Shopping cart summary
    </h5>
    <button type="button" class="btn-close text-bg-danger fw-bolder offcanvas-title" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" data-bs-scroll="true">
    <app-cart-items-details-table></app-cart-items-details-table>
  </div>
</div>

<div class="offcanvas offcanvas-end w-100 d-block d-lg-none grocery-type-side-bar-text-font" tabindex="-1" id="offcanvasRightMobile"
  aria-labelledby="offcanvasRightMobileLabel" style="overflow-y: scroll">
  <div class="offcanvas-header">
    <p class="offcanvas-title text-dark" id="offcanvasRightLabel">Shopping cart summary</p>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-cart-items-details-table></app-cart-items-details-table>
  </div>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>