.bg-img {
    background-image: url(/assets/img/Grayscale.png);
    background-repeat: no-repeat;
    background-position: center;
}

a:hover {
    color: rgb(32, 31, 33)!important;
}

a {
    cursor: pointer;
}