
<div class="d-flex flex-row bg-dark">
    <div class="p-2 bd-highlight col-lg-5 col-4"><a [routerLink]="['../a/x']" class="col-lg-3 col-3 ">
        <img class="image-fluid" src="../assets/img/brand_icon.png" height="50" width="50">
    </a></div>
    <span class="text-white font-bold-700-open-sans text-center fs-4 p-3 bg-dark m-0"> Login </span>
  </div>

<div style="height: 500px" class=" d-none d-lg-block bg-dark bg-gradient p-3 border-bottom">
    <div class="container" style="position: relative;">
        <div style="position: absolute; top:25%; left: 2%;" class="card w-50 p-5 text-dark bg-form">
            <app-login-form></app-login-form>
        </div>
        <div style="position: absolute; top:25%; left: 60%;">
            <img src="/assets/img/brand_icon.png" style="height: 350px; width: 350px" class="text-center img-fluid">
            <span class="text-info mx-2 font-bold-700-open-sans"> SINCE 2020</span>
        </div>
    </div>
</div>

<!-- Mobile and Tab -->

<div class="d-block d-lg-none p-2 bg-form">
    <app-login-form></app-login-form>
</div>