<div class="card border-0 mt-lg-3">
    <span class="font-bold-700-open-sans">Filter by price</span>
    <span class="work-in-progress-text">Work In Progress</span>
    <ul class="d-grid p-1 m-0  grocery-type-side-bar-text-font">
        <li class="list-group-item small"><span class="grocery-text-style m-2">10 Kr</span></li>
        <li class="list-group-item small"><span class="grocery-text-style m-2">30 Kr</span></li>
        <li class="list-group-item small"><span class="grocery-text-style m-2">100Kr</span></li>
    </ul>
</div>