<div class="container justify-contents-between mt-lg-5 mt-1">
    <div id="shopDetailCurousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <section class="mt-5">
                    <div class="container">
                        <div class="img-main-banner">
                            <div
                                style="background: url(assets/img/hello.jpg)no-repeat; background-size: cover; border-radius: .5rem; background-position: center; height: 500px;">
                                <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center bg-image">
                                    <span class="text-danger fw-bold">We have been in the market since 2020</span>
                                    <h2 class="text-dark display-5 fw-bold mt-4">SuperMarket Daily <br> Fresh Grocery
                                    </h2>
                                    <p class="lead">Introduced a new model for online grocery shopping and convenient
                                        home
                                        delivery.
                                    </p>
                                    <a href="a/y?subMenu=true&groceryType=Powder&mainType=Masala%20%26%20Spices" class="btn btn-dark mt-3">Shop Now <i
                                            class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="carousel-item visible">
                <section class="mt-5">
                    <div class="container">
                        <div class="img-main-banner">
                            <div
                                style="background: url(assets/img/images.jpeg)no-repeat; background-size: cover; border-radius: .5rem; background-position: center; height: 500px;">
                                <div
                                    class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center bg-image p-5">
                                    <span class="badges">Opening Sale Discount 50%</span>
                                    <h2 class="text-white display-5 fw-bold mt-4">SuperMarket Daily <br> Fresh Grocery
                                    </h2>
                                    <p class="lead text-white">Introduced a new model for online grocery shopping and
                                        convenient home delivery.
                                    </p>
                                    <a href="a/y?subMenu=true&groceryType=Powder&mainType=Masala%20%26%20Spices" class="btn btn-dark mt-3">Shop Now <i
                                            class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="hidden">
            <button class="carousel-control-prev mt-5" type="button" data-bs-target="#shopDetailCurousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next mt-5" type="button" data-bs-target="#shopDetailCurousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>