<div class="container justify-contents-between mt-2">
    <div id="shopDetailCurousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <section>
                    <div class="container">
                        <div class="img-main-banner">
                            <div style="background: url(assets/img/hello.jpg) no-repeat; background-size: cover; max-width: 100%;  border-radius: .5rem; background-position: center; "
                                class="img-fluid" alt="Loading failed">
                                <div class="col-md-7 bg-image p-lg-5 p-3">
                                    <h1 class="display-5 fw-bold mt-4 text-white">We wish <br> you a <br> Great
                                        New year
                                    </h1>
                                    <a [routerLink]="['../y']"
                                        class="btn btn-danger m-5">Shop Now <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="carousel-item visible">
                <section>
                    <div class="container">
                        <div class="img-main-banner">
                            <div style="background: url(assets/img/hello2.jpg)no-repeat; background-size: cover; max-width: 100%;  border-radius: .5rem; background-position: center;"
                                class="img-fluid" alt="Loading failed">
                                <div class="col-md-7 bg-image p-lg-5 p-3">
                                    <h1 class="display-5 fw-bold mt-4 text-dark">We have all popular products available <br>
                                        in the markets.
                                    </h1>
                                    <a [routerLink]="['../y']"
                                        class="btn btn-danger m-5">Shop Now <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="hidden">
            <button class="carousel-control-prev mt-5" type="button" data-bs-target="#shopDetailCurousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next mt-5" type="button" data-bs-target="#shopDetailCurousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>