


<div class="container d-none d-lg-block mt-5">
    <div class="row justify-content-center">
        <div class="p-4  border col-3 mx-2 border-ligth bg-light shadow-sm position-relative rounded">
            &nbsp;
            <span class="position-absolute top-0 start-1 text-muted">
                <small class="fw-bold" style="font-size:small">Clear Refinements</small>
            </span>
            <span class="px-5">
                <button type="button" class="position-absolute btn btn-dark start-25"
                    style="left:30px; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Clear Filters - Work In Progress
                </button>
            </span>
        </div>

        <div class="p-4 border col-4 border-ligth bg-light shadow-sm position-relative rounded">
            &nbsp;
            <span class="position-absolute top-0 start-1 text-muted">
                <small class="fw-bold" style="font-size:small">Selected Refinements</small>

                <br>

                <span class="work-in-progress-text">Work In Progress</span>
            </span>
        </div>
    </div>
</div>