/* You can add global styles to this file, and also import other style files */
.font-bold-700-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.linear-gradient-hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

  /** { 
    font-family: 'Open Sans', sans-serif;
  }*/

  .button:hover {
    color: #125699!important
  }


  .grocery-type-side-bar-text-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}