<hr class="m-lg-2 m-3">

<section class="bg-light shadow-sm">
  <div class="container">
    <div class="row pt-lg-5">
      <div class="col-12 d-grid aligns-items-center justify-content-center">
        <span class="h2 font-bold-700-open-sans mx-auto py-1">Our Services</span>
        <p class="text-secondary text-center text-muted h4 services-text-family">Choose the service that best suits you
        </p>
      </div>
    </div>
    <div class="row">

      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <!--div class="col-lg-4 mb-lg-3 d-flex align-items-stretch">
        <div class="card text-center border-0">
          <img src="assets/img/one.png" class="rounded card-img-top img-fluid" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-dark">Delivery</h5>
            <p class="card-text mb-lg-4 text-secondary fs-5 services-text-family">We deliver in and around Stockholm.
              <strong class="text-dark">Free delivery from 500 kr</strong></p>
          </div>
        </div>
      </div-->

      <div class="col-lg-3 mb-3 d-flex align-items-stretch">
        <div class="card text-center border-0 bg-body">
          <img src="assets/img/one.png" class="card-img-top" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-dark">Delivery</h5>
            <p class="card-text mb-lg-4 text-secondary fs-5 services-text-family">We deliver in and around Stockholm.
              <strong class="text-dark">Free delivery from 500 kr</strong>
            </p>
          </div>
        </div>
      </div>

      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-3 mb-3 d-flex align-items-stretch">
        <div class="card text-center border-0 bg-body">
          <img src="assets/img/two.png" class="rounded card-img-top img-fluid" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-dark">Pick Up from store</h5>
            <p class="card-text text-secondary  fs-5 services-text-family">Place your order and pick up from our store.
              You can get up to 10% off</p>
          </div>
        </div>
      </div>

      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-3 mb-3 d-flex align-items-stretch">
        <div class="card text-center border-0 bg-body">
          <img src="assets/img/three.png" class="card-img-top" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-dark">Grocery</h5>
            <p class="card-text fs-5 text-secondary services-text-family">Conveniently deliver to you from our local
              stores!. You can contact us in case of any queries</p>
          </div>
        </div>
      </div>

      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-3 mb-3 d-flex align-items-stretch">
        <div class="card text-center border-0 bg-body">
          <img src="assets/img/multiply.png" class="card-img-top p-3 rounded " alt="Card Image">
          <div class="card-body d-flex flex-column mt-4">
            <h5 class="card-title text-dark">Seeking Jobs?</h5>
            <p class="card-text fs-5 text-secondary services-text-family">We * Multiply your business value while others make additions</p>
            <a href="https://www.multiply.se/" target="_blank" class="btn btn-sm btn-dark mt-auto align-self-start"> Check jobs <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>